.tableDiv {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.aprovado{
    background-color: green;
}

.reprovado{
    background-color: red;
}

.recuperacao{
    background-color: yellow;
}

button{
	border:none;
	border-radius:10px;
	text-decoration:none;
	background-color:white;
	cursor:pointer;
}

button:hover{
	background-color:gray;
}